<div class="news">
  {% if site.latest_posts != blank %}
    {%- assign latest_posts = site.posts -%}
    {%- assign current_year = site.time | date: '%Y' | plus: 0 -%}
    {%- assign latest_posts_grouped = latest_posts | group_by_exp:"post", "post.date | date: '%Y'" -%}

    {% for year_group in latest_posts_grouped %}
      {% assign year = year_group.name | plus: 0 %}
      {% if year == current_year or year == current_year - 1 %}
        <h2>{{ year_group.name }}</h2>
        <ul>
          {% for post in year_group.items %}
            <li>
              {% if post.redirect == blank %}
                <a class="news-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
              {% elsif post.redirect contains '://' %}
                <a class="news-title" href="{{ post.redirect }}" target="_blank">{{ post.title }}</a>
              {% else %}
                <a class="news-title" href="{{ post.redirect | relative_url }}">{{ post.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}

    <details>
      <summary>More Updates</summary>
      {% for year_group in latest_posts_grouped %}
        {% assign year = year_group.name | plus: 0 %}
        {% if year < current_year - 1 %}
          <h3>{{ year_group.name }}</h3>
          <ul>
            {% for post in year_group.items %}
              <li>
                {% if post.redirect == blank %}
                  <a class="news-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                {% elsif post.redirect contains '://' %}
                  <a class="news-title" href="{{ post.redirect }}" target="_blank">{{ post.title }}</a>
                {% else %}
                  <a class="news-title" href="{{ post.redirect | relative_url }}">{{ post.title }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </details>
  {%- else -%}
    <p>No posts so far...</p>
  {%- endif %}
</div>
